<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwiftVision</title>
    <link rel="stylesheet" href='{% static "css/main_page_styles.css" %}'>
</head>
<body>
    <header>
        <div class="logo">
            <img src='{% static "images/logo.jpg" %}' alt="Логотип" class="logo">
            <a href='{% url "homepage" %}' class="link"><h1>SwiftVision</h1></a>
        </div>
        <div class="admin-login" style="margin-right: 10px;border: 2px solid #000000;border-radius: 15px; padding: 10px 30px;">
            <a href="{% url 'admin:index' %}" class="admin-btn link" style="color: black">Войти</a>
        </div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <a class="nav-item link" href='{% url "homepage" %}'>Главная страница</a>
            <a class="nav-item link" href='{% url "statistic" %}'>Общая статистика</a>
            <a class="nav-item link" href='{% url "demand" %}'>Востребованность</a>
            <a class="nav-item link active" href='{% url "geography" %}'>География</a>
            <a class="nav-item link" href='{% url "skills" %}'>Навыки</a>
            <a class="nav-item link" href='{% url "vacs" %}'>Последние вакансии</a>
        </aside>
        <main class="main-cont">
            <div class="info-text">
                <h1>География</h1>
                <h2 class="mini-title" style='display: flex; justify-content: center;'>Уровень зарплат по городам для iOS-Разработчика</h2>
                <div>
                    {% if city_salary_dynamics_prof %}
                        {% for graphic in city_salary_dynamics_prof %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="city_salary_dynamics_prof" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 80px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Средняя зарплата (RUB)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in city_salary_dynamics_table %}
                        <tr>
                            <td>{{ row.city_prof }}</td>
                            <td>{{ row.salary_prof }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2 class="mini-title" style='display: flex; justify-content: center;'>Доля вакансий по городам для iOS-Разработчика</h2>
                <div>
                    {% if city_vacancy_share_prof %}
                        {% for graphic in city_vacancy_share_prof %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="city_vacancy_share_prof" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 80px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Доля вакансий (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in city_salary_share_table %}
                        <tr>
                            <td>{{ row.city_prof }}</td>
                            <td>{{ row.share_prof }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <footerc class="footer">
        <p>Ражев Максим Станиславович, РИ-230930</p>
    </footer>
</body>
</html>