<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwiftVision</title>
    <link rel="stylesheet" href='{% static "css/main_page_styles.css" %}'>
</head>
<body>
    <header>
        <div class="logo">
            <img src='{% static "images/logo.jpg" %}' alt="Логотип" class="logo">
            <a href='{% url "homepage" %}' class="link"><h1>SwiftVision</h1></a>
        </div>
        <div class="admin-login" style="margin-right: 10px;border: 2px solid #000000;border-radius: 15px; padding: 10px 30px;">
            <a href="{% url 'admin:index' %}" class="admin-btn link" style="color: black">Войти</a>
        </div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <a class="nav-item link active" href='{% url "homepage" %}'>Главная страница</a>
            <a class="nav-item link" href='{% url "statistic" %}'>Общая статистика</a>
            <a class="nav-item link" href='{% url "demand" %}'>Востребованность</a>
            <a class="nav-item link" href='{% url "geography" %}'>География</a>
            <a class="nav-item link" href='{% url "skills" %}'>Навыки</a>
            <a class="nav-item link" href='{% url "vacs" %}'>Последние вакансии</a>
        </aside>
        <main class="main-cont">
            <div class="info-text">
                <h1>Кто такой iOS-разработчик?</h1>
                <img src='{% static "images/iphone.png" %}' alt="iphones" style="width: 100%;">
                <p class="text">Среди программистов отдельно выделяют мобильных разработчиков — тех, кто пишет
                        приложения для смартфонов, планшетов и других подобных устройств.</p>
                <p class="text">iOS-разработчик, или iOS developer, — это программист, который пишет сервисы и 
                         программы для айфонов. Из-за особенностей устройств Apple и их операционной системы
                         для них нужно писать специальный код.</p>
                <p class="text">Основной язык, на котором пишут код iOS-разработчики, — Swift. Apple разработала его 
                        специально для своих устройств в 2014 году. По сравнению с языком Objective-C, который
                        использовали раньше, он более быстрый, простой и устойчивый к ошибкам.</p>
                <p class="text">Чтобы писать на языке Swift, нужна специальная среда разработки — Xcode. Она корректно
                        работает только на устройствах Apple: MacBook, iMac, Mac Pro, Mac Studio, Mac mini.</p>
                <p class="text">iOS-разработчики пишут все сервисы, которые можно скачать в Apple Store. Игры, 
                        банковские приложения, заметки, службы доставки — результат труда iOS-разработчиков.
                        Без них не обойтись ни одной компании, которая хочет адаптировать свои сервисы для 
                        устройств Apple.</p>
                <h1>Знания и навыки iOS developer</h1>
                <p class="text"><b>Особенности iOS.</b> Как работает операционная система, хранятся данные и происходит отправка уведомлений и приём сообщений.</p>
                <p class="text"><b>Среда Xcode.</b> iOS-разработчик должен знать, как работают её функции, 
                    где расположены основные элементы интерфейса, как отлаживать и компилировать приложения в этой среде.</p>
                <img src='{% static "images/xcode.jpg" %}' alt="xcode" style="width: 100%;">
                <p class="text"><b>Язык Swift.</b> Нужно разбираться в его синтаксисе, принципах объектно-ориентированного 
                    программирования, структурах, типах данных, коллекциях и других особенностях. </p>
                <p class="text">Swift регулярно меняется и обновляется, поэтому важно читать его актуальную документацию и заниматься
                     на курсах, которые учитывают изменения языка. </p>
                <p class="text"><b>Работа с серверной частью приложения.</b> Как правило, у большинства сервисов есть серверная 
                    часть — к ней обращаются сайты и приложения как для iOS, так и для Android. Чтобы с ней работать, 
                    потребуется знание REST API и принципов передачи данных по сети.</p>
                <p class="text"><b>Хранение данных.</b> Нужно разбираться в базах данных Core Data, Realm, SQL, 
                    уметь составлять к ним запросы и сохранять в них информацию. Понадобятся знания о работе с облачными хранилищами, 
                    например Firebase.</p>
                <p class="text"><b>Фреймворки.</b> Фреймворк — это ПО, которое помогает объединить разные компоненты большого проекта. 
                    Например, в iOS-разработке для работы с графикой используют UIKit, и нужно знать, как с его помощью создавать интерфейсы. </p>
                <p class="text"><b>Обработка JSON.</b> В iOS данные по сети передаются в специальном формате JSON, основанном на языке JavaScript. 
                    Нужно уметь читать этот формат и правильно интерпретировать переданную в нём информацию.</p>
                <p class="text"><b>Вёрстка приложений.</b> iOS-разработчики отвечают в том числе за внешний вид приложения. 
                    Для этого нужно уметь работать в графических редакторах типа Figma, Sketch, Zeplin, разбираться в описании интерфейса 
                    через код, а также во фреймворке UIKit или SwiftUI, который пришёл ему на смену.</p>
                <p class="text"><b>Оптимизация.</b> Приложение должно не просто работать, но ещё и оптимально использовать память и вычислительные ресурсы. 
                    Для этого нужно уметь оптимизировать его средствами самого кода и сторонними инструментами.</p>
                <p class="text"><b>Работа в Git.</b> Приложения обычно пишут большие команды, поэтому у кода всегда есть несколько версий. Чтобы не запутаться в них и 
                    работать над кодом совместно, существует система Git и инструменты для работы в ней: GitHub, GitLab и другие. 
                    iOS-разработчик должен знать, как ими пользоваться.</p>
                <p class="text"><b>Программирование на языке Objective-C.</b> Этот навык не обязателен для профессии iOS-разработчика, но будет полезен для поддержки старых приложений, 
                    написанных до распространения Swift. Можно выучить его позже, когда уже будет освоен Swift и другие базовые навыки.</p>
                <h1>Как стать iOS-разработчиком?</h1>
                <p class="text"><b>1.	Изучить основы программирования.</b> Этот шаг нужен тем, кто раньше вообще никогда не писал программ. 
                    Полезно будет получить общее представление об алгоритмах и взаимодействии железа и кода. Это можно делать параллельно с изучением языка.</p>
                <p class="text"><b>2.	Выучить Swift.</b> Освоить основные функции языка, типы данных, методы программирования, принципы ООП.</p>
                <p class="text"><b>3.	Освоить Xcode.</b> Это основная программа, в которой придётся писать код на Swift. 
                    Понадобится изучить основные модули, горячие клавиши, инструменты дебага и отладки.</p>
                <p class="text"><b>4.	Изучить <a href="https://developer.apple.com/documentation/swift" class="link">официальную документацию Apple.</a></b> 
                    Она на английском, перевести её можно встроенным в браузер переводчиком.</p>
                <p class="text"><b>5.	Изучить фреймворк, лучше всего UIKit.</b> Освоить разработку интерфейсов приложений с помощью этого фреймворка. 
                    Другие фреймворки тоже полезно будет изучить, но это можно отложить на потом.</p>
                <p class="text"><b>6.	Научиться разрабатывать дизайн.</b> Хотя бы на уровне набросков отрисовывать интерфейс с помощью 
                    Figma, Sketch или Zeplin. Освоить вёрстку экранов в Pixel Perfect.</p>
                <p class="text"><b>7.	Освоить работу с Git.</b> Это понадобится для версионирования кода и совместной работы.</p>
                <img src='{% static "images/way.png" %}' alt="way" style="width: 100%;">
                <div class="text-cont"><p class="last-text">iOS-программисты работают с современными технологиями и для этого используют один из самых продвинутых и мощных языков — Swift. 
                    Он позволяет разрабатывать что угодно: начиная от простых приложений и заканчивая играми или инструментами дополненной реальности. 
                    Кроме того, iOS-разработчики приносят пользу миллионам людей, потому что без приложений от смартфонов не будет никакой пользы. 
                    iOS-разработка — это целый мир и отличный выбор профессии.</p></div>
            </div>
        </main>
    </div>
    <footerc class="footer">
        <p>Ражев Максим Станиславович, РИ-230930</p>
    </footer>
</body>
</html>