<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwiftVision</title>
    <link rel="stylesheet" href='{% static "css/main_page_styles.css" %}'>
</head>
<body>
    <header>
        <div class="logo">
            <img src='{% static "images/logo.jpg" %}' alt="Логотип" class="logo">
            <a href='{% url "homepage" %}' class="link"><h1>SwiftVision</h1></a>
        </div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <a class="nav-item link" href='{% url "homepage" %}'>Главная страница</a>
            <a class="nav-item link active" href='{% url "statistic" %}'>Общая статистика</a>
            <a class="nav-item link" href='{% url "demand" %}'>Востребованность</a>
            <a class="nav-item link" href='{% url "geography" %}'>География</a>
            <a class="nav-item link" href='{% url "skills" %}'>Навыки</a>
            <a class="nav-item link" href='{% url "vacs" %}'>Последние вакансии</a>
        </aside>
        <main class="main-cont">
            <div class="info-text">
                <h1>Общая статистика</h1>
                <h2 class="mini-title" style='display: flex; justify-content: center;'>Динамика уровня зарплат по годам</h2>
                <div>
                    {% if salary_dynamics_all %}
                        {% for graphic in salary_dynamics_all %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="salary_dynamics_all" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 80px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Средняя зарплата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in salary_dynamics_table_all %}
                        <tr>
                            <td>{{ row.year }}</td>
                            <td>{{ row.avg_salary }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <h2 class="mini-title" style='display: flex; justify-content: center;'>Динамика количества вакансий по годам</h2>
                <div>
                    {% if vacancy_dynamics_all %}
                        {% for graphic in vacancy_dynamics_all %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="vacancy_dynamics_all" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 80px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in salary_dynamics_table_all %}
                        <tr>
                            <td>{{ row.year }}</td>
                            <td>{{ row.vacancy_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <h2 class="mini-title" style='display: flex; justify-content: center;'>Уровень зарплат по городам</h2>
                <div>
                    {% if city_salary_dynamics_all %}
                        {% for graphic in city_salary_dynamics_all %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="city_salary_dynamics_all" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 80px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Средняя зарплата (RUB)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in city_salary_dynamics_table %}
                        <tr>
                            <td>{{ row.city_all }}</td>
                            <td>{{ row.salary_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2 class="mini-title" style='display: flex; justify-content: center;'>Доля вакансий по городам</h2>
                <div>
                    {% if city_vacancy_share_all %}
                        {% for graphic in city_vacancy_share_all %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="city_vacancy_share_all" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 100px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Доля вакансий (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in city_salary_share_table %}
                        <tr>
                            <td>{{ row.city_all }}</td>
                            <td>{{ row.share_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2 class="mini-title" style='display: flex; justify-content: center;'>ТОП-20 навыков по годам</h2>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2015</h3>
                <div>
                    {% if top_skills_all_2015 %}
                        {% for graphic in top_skills_all_2015 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2015" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 50px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2015 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2016</h3>
                <div>
                    {% if top_skills_all_2016 %}
                        {% for graphic in top_skills_all_2016 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2016" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2016 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2017</h3>
                <div>
                    {% if top_skills_all_2017 %}
                        {% for graphic in top_skills_all_2017 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2017" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2017 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2018</h3>
                <div>
                    {% if top_skills_all_2018 %}
                        {% for graphic in top_skills_all_2018 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2018" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2018 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2019</h3>
                <div>
                    {% if top_skills_all_2019 %}
                        {% for graphic in top_skills_all_2019 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2019" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2019 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2020</h3>
                <div>
                    {% if top_skills_all_2020 %}
                        {% for graphic in top_skills_all_2020 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2020" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2020 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2021</h3>
                <div>
                    {% if top_skills_all_2021 %}
                        {% for graphic in top_skills_all_2021 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2021" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2021 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2022</h3>
                <div>
                    {% if top_skills_all_2022 %}
                        {% for graphic in top_skills_all_2022 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2022" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2022 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2023</h3>
                <div>
                    {% if top_skills_all_2023 %}
                        {% for graphic in top_skills_all_2023 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2023" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 60px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2023 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="mini-title" style='display: flex; justify-content: center;'>2024</h3>
                <div>
                    {% if top_skills_all_2024 %}
                        {% for graphic in top_skills_all_2024 %}
                            <img class='image_style' src="{{ graphic.image.url }}" alt="top_skills_all_2024" style="width: 100%;">
                        {% endfor %}
                    {% else %}
                        <p>Изображение не найдено.</p>
                    {% endif %}
                </div>
                <table class="tables" style="width: 100%;text-align: center;margin-bottom: 80px;background-color: #F2F1FA;border: 3px solid #B9C7EB;border-radius: 20px;">
                    <thead>
                        <tr>
                            <th>ТОП</th>
                            <th>Навыки</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in skills_table_2024 %}
                        <tr>
                            <td>{{ row.number }}</td>
                            <td>{{ row.skills_all }}</td>
                            <td>{{ row.freq_all }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <footerc class="footer">
        <p>Ражев Максим Станиславович, РИ-230930</p>
    </footer>
</body>
</html>